{% extends 'layout/content-static.html.twig' %}

{% block title %}Las recetas{% endblock %}

{% block content %}

    <h1>Las recetas</h1>

    <div class="btn-group btn-group-justified" role="group" aria-label="recipes-filters">
        <a role="button" class="btn btn-default active" href="#">Todas</a>
        <a role="button" class="btn btn-default" href="#">Carnes</a>
        <a role="button" class="btn btn-default" href="#">Pescados</a>
        <a role="button" class="btn btn-default" href="#">Pastas</a>
        <a role="button" class="btn btn-default" href="#">Arroces</a>
    </div>

    {% for recipe in recipes %}
        {% include 'layout/partials/recipe.html.twig' with recipe %}

        {% if loop.index <= adsense %}
            {% include 'layout/partials/recipe-ads.html.twig' %}
        {% endif %}
    {% endfor %}

{% endblock %}