{% extends 'layout/content.html.twig' %}

{% block title %}Los utensilios de cocina{% endblock %}

{% block content %}

    <h1>Los utensilios de cocina</h1>

    <p class="img"><img src="/images/medidas.jpg" class="img-thumbnail img-responsive" /><small>Juego de tazas y cucharas medidoras</small></p>

    <h2>Para medir...</h2>

    <p>A la hora de preparar cualquier receta, es muy importante tomar bien las medidas de los ingredientes, sobretodo cuando estamos preparando repostería, salsas, etc... donde es necesario medir determinados ingredientes en cantidades muy pequeñas.</p>

    <p>Una buena báscula de cocina es algo primordial, pero no siempre nos va a servir cuando tengamos que tomar determinadas medidas de líquidos, ya que solo el agua conserva una relación 1:1 entre las unidades de litros y kilos.</p>

    <p>Además, cuando busquemos recetas por internet, muchas veces nos vamos a encontrar que no ponen información de peso... si no que directamente hablan de "cups" o "cucharadas". Es por eso que no está de más tener un buen juego de tazas medidoras y/o otro juego de cucharas medidoras.</p>

    <p><strong>Tazas medidoras</strong></p>
    <ul>
        <li>1 taza (o cup): 250ml</li>
        <li>1/2 taza: 125ml</li>
        <li>1/3 taza: 80ml</li>
        <li>1/4 taza: 60ml</li>
    </ul>

    <p><strong>Cucharas medidoras</strong></p>
    <ul>
        <li>1 cucharada sopera: 15ml</li>
        <li>1 cucharadita de café: 5ml</li>
        <li>1/2 cucharadita de café: 2.5ml</li>
        <li>1/4 cucharadita de café: 1.25ml</li>
        <li>1/8 cucharadita de café: 0.625ml</li>
    </ul>

    <p>Si bien es cierto que estos juegos de medidas son bastante caros, la verdad es que merecen mucho la pena. Evidentemente también nos hará falta una buena báscula con precisión de 1 gramo y una jarra para medir líquidos en cantidades más grandes, pero hay que tener en cuenta que, cuanto más pequeña es la cantidad que tenemos que medir, más se notará el error si no lo hacemos bien.</p>

{% endblock %}