{% extends 'layout/layout.html.twig' %}

{% block main %}

    {% include 'layout/sidebar/sidebar.html.twig' %}

    <div class="content">

        {% block content %}{% endblock %}

        <div class="post-footer">Publicada el {{ created_at|localizeddate('long', 'short', 'es_ES') }}</div>

        <div class="hr"><a href="#top">Ir arriba</a></div>

        <div>{% include 'layout/helpers/fb-comments.html.twig' %}</div>

        <div class="content-footer"><a href="#top">Ir arriba</a></div>
    </div>

{% endblock %}