<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app.request.host }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'layout/menu.html.twig' %}
    <div class="container">{% block main %}{% endblock %}</div>
    {% block footer %}{% endblock %}
</body>
</html>