{% extends 'layout/home.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h2>Últimas recetas</h2>

    {% for recipe in recipes %}
        {% include 'layout/partials/recipe.html.twig' with recipe %}

        {% if loop.index <= adsense %}
            {% include 'layout/partials/recipe-ads.html.twig' %}
        {% endif %}
    {% endfor %}

{% endblock %}