<p><strong>Webs amigas...</strong></p>
<div style="background-color: #bbb"><a href="http://www.panmachinetv.com/foro/" target="_blank"><img src="/images/panmachinetv.png" alt="PanMachine TV" /></a></div>