<div class="sidebar hidden-xs hidden-sm pull-right">
    <div class="sidebar-content">

        {% include 'layout/sidebar/sidebar.social-buttons.html.twig' %}

        <div class="clear">&nbsp;</div>

        {% include 'layout/sidebar/sidebar.search.html.twig' %}

        <div class="clear">&nbsp;</div>

        {% include 'layout/sidebar/sidebar.most-popular.html.twig' %}

        <div class="clear">&nbsp;</div>

        {% include 'layout/sidebar/sidebar.twitter.html.twig' %}

        <div class="clear">&nbsp;</div>

        {% include 'layout/sidebar/sidebar.links.html.twig' %}
    </div>
</div>