{% include 'layout/helpers/fb-likes-web.html.twig' %}

<p><strong>Síguenos también en...</strong></p>
<div class="social-media">
    <img src="/images/facebook.png" class="social-media-icon" />
    <img src="/images/pinterest.png" class="social-media-icon"  />
    <img src="/images/twitter.png" class="social-media-icon"  />
</div>